[submodule "verilator/master"]
	path = verilator/master
	url = ../../verilator/verilator
[submodule "verilator/randomize-constraints"]
	path = verilator/randomize-constraints
	url = ../verilator-1
	branch = randomize-constraints
[submodule "verilator/class-params"]
	path = verilator/class-params
	url = ../verilator-1
	branch = class-params
[submodule "verilator/signal-strengths"]
	path = verilator/signal-strengths
	url = ../verilator-1
	branch = signal-strengths
[submodule "verilator/event-control-expression"]
	path = verilator/event-control-expression
	url = ../verilator-1
	branch = event-control-expression
