[submodule "verilator/master"]
	path = verilator/master
	url = ../../verilator/verilator
[submodule "verilator/randomize-constraints"]
	path = verilator/randomize-constraints
	url = ../verilator-1
	branch = randomize-constraints-crave
[submodule "verilator/unpacked-structs"]
	path = verilator/unpacked-structs
	url = ../verilator-1
	branch = kiryk/support-unpacked-structs
