[submodule "verilator/master"]
	path = verilator/master
	url = ../../verilator/verilator
[submodule "verilator/randomize-constraints"]
	path = verilator/randomize-constraints
	url = ../verilator-1
	branch = randomize-constraints
[submodule "verilator/wildcard-associative"]
	path = verilator/wildcard-associative
	url = ../verilator-1
	branch = wildcard-associative
[submodule "verilator/signal-strengths"]
	path = verilator/signal-strengths
	url = git@github.com:antmicro/verilator-1.git
