.more-info-button {
  margin-left: 40px;
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iMTEiIGZpbGw9IiM2NzcxN0UiLz4KPHBhdGggZD0iTTEwLjk2MTcgNy43NzY0MkMxMC42NSA3Ljc3NjQyIDEwLjQwOTYgNy43MDA3MyAxMC4yNDA0IDcuNTQ5MzZDMTAuMDgwMSA3LjM4OTA4IDEwIDcuMTY2NDcgMTAgNi44ODE1M0MxMCA2LjU5NjU5IDEwLjA4MDEgNi4zNzg0MyAxMC4yNDA0IDYuMjI3MDZDMTAuNDA5NiA2LjA3NTY5IDEwLjY1IDYgMTAuOTYxNyA2QzExLjI2NDQgNiAxMS40OTU5IDYuMDc1NjkgMTEuNjU2MiA2LjIyNzA2QzExLjgyNTQgNi4zNzg0MyAxMS45MSA2LjU5NjU5IDExLjkxIDYuODgxNTNDMTEuOTEgNy4xNjY0NyAxMS44MjU0IDcuMzg5MDggMTEuNjU2MiA3LjU0OTM2QzExLjQ5NTkgNy43MDA3MyAxMS4yNjQ0IDcuNzc2NDIgMTAuOTYxNyA3Ljc3NjQyWk0xMS42Njk2IDguODk4MzdWMTUuNTc2NkgxMC4yNDA0VjguODk4MzdIMTEuNjY5NloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=")
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  color: #67717E;
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(103, 113, 126, 0.5);
  border-radius: 2px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  transform: translate(-100%,-90%);
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
